<!--<h2 class="page-header">Bienvenido {{user.name}}</h2>
<p>Esta es tu página principal. Eres la familia {{familia.name}}</p>
<div id="recursos">
    <span id="food"></span>
    <span id="wine"></span>
    <span id="wood"></span>
    <span id="iron"></span>
    <span id="stone"></span>
</div>-->
<main role="main">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row" id="constructions">

        </div> <!-- /container -->

</main>

<script>
    /*
    //////////////////////////////////////////////////////
    // Recursos de la familia
    //////////////////////////////////////////////////////
    let id = "{{familia._id}}";
    actualizar();

    function actualizar() {
        $(document).ready(function () {
            $.get(`http://localhost:3000/resources/getResources/${id}`, function (data, status) {
                let food = data[0];
                let wine = data[1];
                let wood = data[2];
                let iron = data[3];
                let stone = data[4];
                document.getElementById("food").innerHTML = "<h1>Comida: " + food + "</h1>";
                document.getElementById("wine").innerHTML = "<h1>Vino: " + wine + "</h1>";
                document.getElementById("wood").innerHTML = "<h1>Madera: " + wood + "</h1>";
                document.getElementById("iron").innerHTML = "<h1>Hierro: " + iron + "</h1>";
                document.getElementById("stone").innerHTML = "<h1>Piedra: " + stone + "</h1>";
            });
        });
    }
    // Si queremos actualizar el recurso en tiempo real en nuestro cliente descomentar la siguiente linea. Si no, se actualizaran los recursos al recargar la página
    setInterval(actualizar, 1000);*/



    function updateConstruction(id, construction, time) {
        $.ajax({
            type: 'POST',
            url: `http://localhost:3000/constructions/updateConstruction/${id}/${construction}/${time}`,
            success: function (data) {
                console.log(data);
            },
            error: function (request, status, error) {
                console.log(request.responseText);
            }
        });
    }

    //////////////////////////////////////////////////////
    // Construcciones de la familia
    //////////////////////////////////////////////////////

    $(document).ready(function () {
        let id = "{{familia._id}}";
        let divConstructions = $('#constructions');
        let html = '';
        $.get(`http://localhost:3000/resources/getConstructions/${id}`, function (data, status) {
            for (var i = 0; i < data.length; i++) {
                let value;
                if (data[i][2] < data[i][6]) {
                    value = data[i][4].split(';');
                }

                html += '<div class=\"col-md-12\" id=\"' + data[i][0] + '\">';
                html += '<h2>' + data[i][0] + '</h2>';
                html += '<p>' + data[i][1] + '</p>';
                if (data[i][2] < data[i][6]) {
                    html += '<p>Valor: ' + value[0] + ' ||| Beneficio: ' + data[i][3] + '</p>';
                    html += '<p><button class=\"btn btn-secondary\" id=\"' + data[i][0] + '\" onclick=\"this.disabled=true; updateConstruction(\'{{familia._id}}\',\'' + data[i][0] + '\',\'' + data[i][5] + '\')\" >Subir a nivel ' + (data[i][2] + 1) + ' <span id="time' + data[i][0] + '"></span></button></p>';
                }
                html += '<hr class=\"my-4\">';
                html += '</div>';

            }
            divConstructions.html(html);
        });
    });

</script>